$vea-side-width: 240px; // 菜单宽度

$vea-side-min-width: 64px; // 菜单最小宽度

$vea-header-height: 60px; // header高度

$vea-footer-height: 60px;

$vea-page-padding: 20px;
$vea-page-margin: 20px;

$vea-right-main: calc(100% - $vea-side-min-width)
